$clockFaceColor : #4d455d;
$clockTickColor: #e96479;
$clockHourHandColor: #f5e9cf;
$clockMinuteHandColor: #f5e9cf;
$clockSecondHandColor: #f5e9cf;
$clockCenterColor: #7db9b6;

$clockFrostingsColor: #e69edb;
$clockDoughColor: #e8d510;

$clockSize : 80vmin;