@import "./variables" ;

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clockElementContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body{
    margin: 0;
}

.clock{
    background: $clockFaceColor;
    width: $clockSize;
    height: $clockSize;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock #center{
    background: $clockCenterColor;
    width: .1 * $clockSize;
    height: 0.1 * $clockSize;
    z-index: 5;
}

.tick-container{
    @include clockElementContainer();
}

.clock-tick{
    position: absolute;
    background: $clockTickColor;
    width: 3vmin;
    height: 10vmin;
    top: 50%;
    left: 50%;
    border-radius: 10%;
}

//Begging for a refactor
#t12{
    transform: translate(-50%, -50%) translate(0%, -35vmin);
    width: 5vmin;
}
#t6{
    transform: translate(-50%, -50%) translate(0%, 35vmin);
    width: 5vmin;
}
#t3{
    transform: translate(-50%, -50%) rotate(90deg) translate(0%, -35vmin);
    width: 5vmin;
}
#t9{
    transform: translate(-50%, -50%) rotate(90deg) translate(0%, 35vmin);
    width: 5vmin;
}

#t1{
    transform: translate(-50%, -50%) rotate(30deg) translate(0%, -35vmin);
}
#t2{
    transform: translate(-50%, -50%) rotate(60deg) translate(-50%, -35vmin);
}
#t4{
    transform: translate(-50%, -50%) rotate(120deg) translate(0%, -35vmin);
}
#t5{
    transform: translate(-50%, -50%) rotate(150deg) translate(-50%, -35vmin);
}
#t7{
    transform: translate(-50%, -50%) rotate(210deg) translate(0%, -35vmin);
}
#t8{
    transform: translate(-50%, -50%) rotate(240deg) translate(-50%, -35vmin);
}
#t10{
    transform: translate(-50%, -50%) rotate(300deg) translate(0%, -35vmin);
}
#t11{
    transform: translate(-50%, -50%) rotate(330deg) translate(-50%, -35vmin);
}


//Clock hands
.hours-container, .mins-container, .seconds-container{
    @include clockElementContainer();
}

.hours{
    height: 0.48 * $clockSize;
    width: 0.1 * $clockSize;
    @include center();
    background: $clockHourHandColor;
    border-radius: 50% 50% 50% 50% / 10% 10% 0% 0%;

    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(0deg);
}

.mins{
    height: 0.48 * $clockSize;
    width: 0.05 * $clockSize;
    @include center();
    background: $clockMinuteHandColor;
    border-radius: 50% 50% 50% 50% / 10% 10% 0% 0%;

    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(0deg);
}

.seconds{
    height: 0.48 * $clockSize;
    width: 0.02 * $clockSize;
    @include center();
    background: $clockSecondHandColor;
    border-radius: 50% 50% 50% 50% / 5% 5% 0% 0%;

    transform-origin: bottom;
    transform: translate(-50%, -100%) rotate(0deg);
}