.p5Container {
  position: absolute;
}

#canvas {
  position: relative;
  left: 20px;
}

.homeLink {
  position: absolute;
  text-align: left;
  background-color: antiquewhite;
  margin: 10px;
  border: 10px;
}
