.homeLink {
  width: 100%;
  padding-left: 300px;
  text-align: center;
}

#canvas {
  position: absolute;
  float: left;
}

#homeLink {
  position: absolute;
  background-color: white;
}

.centered {
  position: relative;
  width: 100%;
  text-align: center;
}

.recipe {
  position: relative;
  float: left;
  text-align: justify left;
}
