#canvas {
  position: absolute;
  float: left;
}

#homeLink {
  position: absolute;
  background-color: white;
}

.centered {
  position: relative;
  width: 100%;
  text-align: center;
}

h1.recipe, h2.recipe {
  text-align: left;
}

h1.centered, h2.centered{
  text-align: center;
}

ul.centered{
  text-align: left;
  list-style: inside;
  position: relative;
  display: table;
  left: 43%;
}
